
{{ header }}

  
 
 <div id="content" class="{{ class }}">
	
	
	<div class="container">

		<div class="block_slide">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 slide-left">
					 {{ content_home1 }}
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 slide-right">
					{{ content_home2 }}
				</div>
			</div>
		</div>
		{{ content_top }}
		{{ content_bottom }}
	</div>
	
</div>  

{{ footer }}